<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../error-behavior/error-behavior.html">
<link rel="import" href="../auth-intercept-behavior/auth-intercept-behavior.html">
<link rel="import" href="../s3-upload-behavior/s3-upload-behavior.html">
<link rel="import" href="../file-upload-behavior/file-upload-behavior.html">
<link rel="import" href="dropzone-style.html">

<!--
File Upload component. 
Supports auth-intercept, uploading to S3 and exposes errors and validation state.

Example:

    <sg-uploader></sg-uploader>

@group sg-elements
@element sg-uploader
@demo demo/index.html
-->
<dom-module id="sg-uploader">

  <!-- We need to include dropzone css this way due to shadow DOM selection not working otherwise in firefox -->
  <style include="dropzone-style"></style>

  <style>

    :host {
      display: block;
      box-sizing: border-box;
    }

    :host .dropzone {
      border-style: dashed;
      border-radius: 15px;
      padding-top: 20px;
      padding-bottom: 20px;

      /*this prevents weird visual discrepancy with header drop-shadow and modal overlay*/
      z-index: 0;
    }

    /* Expose custom style to align the preview boxes */
    :host .dropzone {
      text-align: var(--sg-uploader-preview-align, left);
    }

    :host.sg-input-invalid .dropzone {
      border-color: #990000;
      background-color: #FAE6E6;
    }

    :host /deep/ .dz-details {
      padding-top: 25px;
      padding-right: 0;
    }

    /*this prevents weird visual discrepancy with header drop-shadow and modal overlay*/
    :host /deep/ .dz-preview {
      z-index: 0;
    }

    /* disable default error popover */
    :host /deep/ .dz-error-message {
      visibility: hidden;
    }

    :host /deep/ .dz-filename {
      position: relative;
      top: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    :host /deep/ .dz-image-preview {
      background: none!important;
    }

    :host /deep/ .dz-remove {
      text-decoration: none;
    }

    /* styles to show progress bar when it makes sense to */
    :host[manual-upload] /deep/ .dz-progress {
      display: none!important;
    }

    :host.uploading[manual-upload] /deep/ .dz-progress {
      display: block!important;
    }

    :host .sg-upload-icon-container {
      float: left;
      text-align: right;
      width: 40%;
    }

    :host .sg-upload-icon {
      height: 110px;
      width: 110px;
      margin-top: -15px;
      margin-right: 30px;
    }

    :host .sg-upload-message-container {
      float: right;
      width: 60%;
      text-align: left;
      height: 100%;
    }

    :host .dz-message {
      height: 100%;
      min-height: 96px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    :host .sg-upload-click-message {
      color: var(--sg-link-blue, #2A78E4);
      margin-bottom: 15px;
    }

    :host .sg-upload-or-message {
      color: var(--sg-text-grey, #BFBFBF);
    }

    :host .sg-upload-drag-message {
      margin-top: 15px;
    }

    :host .sg-upload-button-container {
      text-align: center;
      padding-top: 20px;
    }
  </style>

  <template>
    <div class="dropzone">
      <div class="dz-message">
        <div class="sg-upload-icon-container">
          <iron-icon class="sg-upload-icon" icon="icons:backup"></iron-icon>
        </div>
        <div class="sg-upload-message-container">
          <div class="sg-upload-click-message">
            <span>[[ clickMessage ]]</span>
          </div>
          <div class="sg-upload-or-message">
            == OR ==
          </div>
          <div class="sg-upload-drag-message">
            <span>[[ dragMessage ]]</span>
          </div>
        </div>
      </div>
    </div>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-uploader',
    behaviors: [FileUploadBehavior, AuthInterceptBehavior, S3UploadBehavior, ErrorBehavior],

    listeners: {
      'auth-intercept-error': '_handleError',
      'file-upload-start': '_uploadStart',
      'file-upload-error' : '_handleError',
      'file-upload-success': '_clearError',
      'file-upload-removed': '_handleRemoval'
    },

    properties: {

      /**
       * Signifies whether to do an auth intercept before the file upload requests
       */
      authIntercept: {
        type: Boolean,
        value: false
      },

      /**
       * Message instructing user to click the uploader
       */
      clickMessage: {
        type: String,
        value: 'Click here to select a file from your computer'
      },

      /**
       * Message instructing user to drag files to the uploader
       */
      dragMessage: {
        type: String,
        value: 'Drag and drop your file into this space'
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /*
     * Method override to hook in auth-intercept
     */
    preProcess: function(file, success, fail){
      var self = this;
      //if auth intercept, sign data and then add signature to file
      if(this.authIntercept){
        this.sign({
          name: file.name,
          size: file.size,
          type: file.type
        }).then(function(data){
          file.authData = data.response;
          //if s3Upload, save the bucket name
          if(self.s3Upload){
            self.uploadUrl = file.authData.uri;
          }
          success(data.response);
        }, function() {
          fail(arguments);
        });
      } else {
        success({});
      }
    },

    /*
     * Method override to attach auth data before uploading
     */
    preUpload: function(file, xhr, formData){
      //modify the formData if the request was authIntercepted
      if(this.authIntercept){
        formData.append('key', file.authData.prefix + (file.authData.key ? file.authData.key : file.name));
        formData.append('AWSAccessKeyId', file.authData.accessId);
        formData.append('acl', file.authData.acl);
        formData.append('policy', file.authData.policy);
        formData.append('signature', file.authData.signature);
        formData.append('Content-Type', file.authData.type ? file.authData.type : (file.type !== '' ? file.type : 'application/octet-stream'));
        formData.append('filename', file.name);
      }
    },

    /*
     * Handles any error events that the element is listening for
     */
    _handleError: function(e){
      this.invalid = true;
      this.toggleClass('sg-input-invalid', true);
      this.fire('sg-input-error', e.detail);

    },

    /*
     * Clears any errors and resets validation state
     */
    _clearError: function(e){
      this.invalid = false;
      this.toggleClass('sg-input-invalid', false);
      this.fire('sg-input-valid');
    },

    /*
     * Handles files being removed from the uploader
     */
    _handleRemoval: function(e){
      this._clearError();
    },

    /*
    * Handles the upload starting, toggles class to display the file progress bar
    */
    _uploadStart: function(e){
      this.toggleClass('uploading', true);
    }

  });

</script>
