<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-progress/paper-progress.html">

<!--
Loading progress indicator

Example:

    <sg-progress></sg-progress>

@group sg-elements
@element sg-progress
@demo demo/index.html
-->
<dom-module id="sg-progress">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host paper-progress {
      border: 1px solid black;
      width: 100%;
      height: var(--sg-progress-height, 4px);
    }

    :host paper-progress /deep/ #progressContainer {
      height: var(--sg-progress-height, 4px);
    }


  </style>

  <style is="custom-style">
    :host paper-progress {
      --paper-progress-active-color: var(--sg-progress-fill-color, #CCCCCC);
      --paper-progress-container-color: var(--sg-progress-background-color, #FFFFFF);
    }
  </style>

  <template>
    <paper-progress indeterminate="[[ indeterminate ]]" value="[[ value ]]"></paper-progress>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-progress',

    properties: {

      /*
      * Exposes paper-progress indeterminate property
      */
      indeterminate: {
        type: Boolean
      },

      /*
      * Exposes the paper-progress value property
      */
      value: {
        type: Number,
        value: 0
      }

    }

    
  });

</script>
