<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../ajax-behavior.html">

<dom-module id="test-ajax">
  <template>
    <content>
    </content>
  </template>

</dom-module>

<script>
(function() {
  Polymer({
    is: 'test-ajax',
    behaviors: [AjaxBehavior]
  });
})();
</script>

