<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../paper-scroll-header-panel/paper-scroll-header-panel.html">

<!--
The header for Stanley Gibbons pages

Example:

    <sg-header></sg-header>

@group sg-elements
@element sg-header
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sg-header">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
      height: 100%;
    }

    img.sg-header-logo {
      float: left;
      vertical-align: middle;
    }

    :host paper-scroll-header-panel {
      height: 100%;
    }

    :host .sg-header-account, .sg-header-store {
      float: right;
      margin-left: 25px;
    }

    :host .header-link {
      color: var(--sg-header-text-color, white);
      text-decoration: none;
    }

    :host .header-link:hover {
      text-decoration: underline;
    }

    :host .sg-header-store {
      margin-right: 30px;
    }

    :host .paper-header {
      background-color: var(--sg-header-color, #8E2430);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>

  <template>
    <paper-header-panel id="panel">
      <div class="paper-header">
        <div class="sg-header-logo-container sg-red-background">
          <img src="{{ logo }}" class="sg-header-logo">
        </div>
        <template is="dom-if" if="{{ hasStore }}">
          <div class="sg-header-store">
            <a class="header-link" href="[[ _storeDashboardUrl ]]">Your Store</a>
          </div>
        </template>
        <template is="dom-if" if="{{ hasAccount }}">
          <div class="sg-header-account">
            <a class="header-link" href="[[ _userDashboardUrl ]]">Your Account</a>
          </div>
        </template>
      </div>
      <content>
      </content>
    </paper-header-panel>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-header',

    properties: {

      /**
       * URL for the Stanley Gibbons logo
       */
      logo: {
        type: String,
        value: 'https://www.stanleygibbons.com/images/NormalLogo.png'
      },

      /*
      * Marketplace base URL
      */
      marketplaceHost: {
        type: String,
        value: 'https://www.stanleygibbons.com'
      },

      /**
      * Flag for whether to show the Your Account section or not
      */
      hasAccount: {
        type: Boolean,
        value: false
      },

      /*
      * Flag to show the Your Store section
      */
      hasStore: {
        type: Boolean,
        value: false
      },

      /*
      * Holds the computed user dashboard URL
      */
      _userDashboardUrl: {
        type: String,
        computed: '_computeUserDashboardUrl(marketplaceHost, userDashboardRoute)'
      },

      /*
      * Holds the computed store dashboard URL
      */      
      _storeDashboardUrl: {
        type: String,
        computed: '_computeStoreDashboardUrl(marketplaceHost, storeDashboardRoute)'
      },

      /*
      * User dashboard route
      */
      userDashboardRoute: {
        type: String,
        value: '/dashboard/account'
      },

      /*
      * Store dashboard route
      */
      storeDashboardRoute: {
        type: String,
        value: '/dashboard/store'
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /*
    * Scrolls to top of main content area
    */
    scrollToTop: function(){
      this.$.panel.scroller.scrollTop = 0;
    },

    /*
    *  Computes url to user's dashboard based on marketplace host
    */
    _computeUserDashboardUrl: function(host, route){
      return host + route;
    },

    /*
    * Computes url to store dashboard based on marketplace host
    */
    _computeStoreDashboardUrl: function(host, route){
      return host + route;
    }
  });

</script>
