<link rel="import" href="../ajax-behavior/ajax-behavior.html">
<link rel="import" href="../sg-auth/sg-auth-behavior.html">

<script>

  /*
   * Behavior that supports authentication intercepting. Can fire off a signing request, or sign a given request
   *
   * @polymerBehavior AuthInterceptBehavior
   */

  AuthInterceptBehaviorImpl = {

    properties: {

      /**
       * Fired when the signing request is successful
       *
       * @event auth-intercept-success
       */

      /**
       * Fired when the signing request fails
       *
       * @event auth-intercept-error
       */

      /**
       * URL to send the signing request to
       */
      authUrl: {
        type: String,
        value: '/'
      }

    },

    /**
     * Sends a POST to the specified url with the specified POST data and Authorization header
     *
     * @param {Object} data - POST data
     * @param {string} url - url to send the request
     * @param {string} key - Authorization header
     *
     * @return {Promise} - The resulting Promise object
     */
    sign: function(data, url){
      var self = this;
      var jwt = this.jwt();
      var key = jwt ? jwt.access_token : null;
      return this.fullRequest({
        url: url || this.authUrl,
        method: 'POST',
        body: JSON.stringify(data),
        contentType: 'application/json',
        handleAs: 'json',
        headers: {
          'Authorization': key
        }
      }, function(request, response, e) {
        self.fire('auth-intercept-success', response);
      }, function(request, response, e) {
        self.fire('auth-intercept-error', response);
        throw new Error('Auth intercept failed');
        return e;
      }).promise;
    },

    /**
     * Signs the given data using the url and Authorization header provided and then fires off the request
     * specified in the requestOptions with the added signature that was just generated
     *
     * @param {Object} requestOptions - options to use for the signed request
     * @param {Object} authData - data to be signed
     * @param {string} authUrl - url for the signing request
     *
     * @return {Promise} - resulting promise from the signed request
     */
    signRequest: function(requestOptions, authData, authUrl){
      var promise = new Promise();
      this.sign(authData, authUrl).then(function(){
        //TODO: add signature to body before sending sub-request
        fire('auth-intercept-success');
        promise = this.request(requestOptions);
      }, function(){
        fire('auth-intercept-error');
      });

      return promise;
    }

  };

  /** @polymerBehavior */
  AuthInterceptBehavior = [AjaxBehavior, SgAuthBehavior, AuthInterceptBehaviorImpl];

</script>