<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../sg-button/sg-button.html">
<link rel="import" href="../sg-modal/sg-modal.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/iron-icons.html">

<!--
A help text widget that opens up a modal

Example:

    <sg-help></sg-help>

@group sg-elements
@element sg-help
@demo demo/index.html
-->
<dom-module id="sg-help">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host .sg-help-link {
      color: var(--sg-link-color, #2B78E4);
    }

    :host .sg-help-link:hover {
      cursor: pointer;
    }

    :host iron-icon {
      margin-bottom: 3px;
    }
  </style>

  <template>
    <a class="sg-help-link" on-click="open">
      <iron-icon class="sg-help-icon" icon="icons:help-outline"></iron-icon>
      <template is="dom-if" if="{{ !noText }}">
        <content select=".link">

        </content>
      </template>
    </a>
    <sg-modal class="sg-help-modal">
      <content select=".modal">
        
      </content>
    </sg-modal>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-help',

    properties: {
      /*
      * Indicates whether to show or hide the link text
      */
      noText: {
        type: Boolean,
        value: false
      },

      /*
      * Indicates what external resource the link should open up
      * If href is defined, sg-help will open a new tab instead of a modal
      */
      href: {
        type: String,
      }
    },

    // Element Lifecycle

    ready: function() {
      //keep dropzone from bootstrapping itself when it sees the dropzone class
      // Dropzone.autoDiscover = false;
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /*
    * Opens the help modal
    */
    open: function(){
      if(this.href){
        window.open(this.href);
      } else {
        this.$$('.sg-help-modal').open();
      }
    }

  });

</script>
