<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../error-behavior/error-behavior.html">

<!--
Exposes validation state and error messaging for child elements. Designed to hook into sg-input-error and ErrorBehavior.
Just bind the invalid and errorMessage properties to your .sg-input element and errors should show/hide automatically


Example:

    <sg-input-container></sg-input-container>

@group sg-elements
@element sg-input-container
@demo demo/index.html
-->
<dom-module id="sg-input-container">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

  </style>

  <template>
    <content>
    </content>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-input-container',

    behaviors: [ErrorBehavior],

    listeners: {
      'sg-input-error': '_handleError',
      'sg-input-valid': '_clearError'
    },

    properties: {
      inputError: {
        type: Object,
        value: function(){
          return this.querySelector('sg-input-error');
        }
      },

      input: {
        type: Object,
        value: function(){
          return this.querySelector('.sg-input');
        }
      },

      test: {
        type: String,
        value: "test"
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    _handleError: function(e){
      //either get the message from the event, or use the element's default one
      if(!e.detail.message && this.input){
        this.inputError.errorMessage = this.input.errorMessage;
      } else {
        this.inputError.errorMessage = e.detail.message;
      }
      this._showErrors();
    },

    _clearError: function(e){
      this._hideErrors();
    },

    _hideErrors: function(){
      this.inputError.hide();
    },

    _showErrors: function(){
      this.inputError.show();
    }

  });

</script>
