<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="currency-map.html">

<!--
Accepts a currency code and a number and presents the formatted currency

Example:

    <sg-currency></sg-currency>

@group sg-elements
@element sg-currency
@demo demo/index.html
-->
<dom-module id="sg-currency">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

  </style>

  <template>
    <span>[[ result ]]</span>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-currency',

    properties: {

      /*
      * Currency code
      */
      currencyCode: {
        type: String,
        value: 'USD'
      },

      /*
      * Holds the monetary amount
      */ 
      amount: {
        type: Number,
        value: 0
      },

      /*
      * The formatted currency string
      */
      result: {
        type: String,
        readOnly: true,
        computed: '_computeResult(currencyCode, amount)'
      }

    },

    /*
    * Computes the result string
    */
    _computeResult: function(code, amount){
      var symbol = CurrencyMap[code];
      if(!symbol){
        symbol = code + ' ';
      }

      var fixedAmount;
      //Japan's vastly superior society has decided not to use decimals in monetary values
      if(code == 'JPY'){
        fixedAmount = parseFloat(amount).toFixed(0);
      } else {
        fixedAmount = parseFloat(amount).toFixed(2);
      }

      var resultString = symbol + fixedAmount;
      return resultString;
    }
    
  });

</script>
