<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-tabs/paper-tabs.html">
<link rel="import" href="../../paper-tabs/paper-tab.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/iron-icons.html">

<!--
Pagination component for Stanley Gibbons pages

Example:

    <sg-pagination></sg-pagination>

@group sg-elements
@element sg-pagination
@demo demo/index.html
-->
<dom-module id="sg-pagination">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host paper-tab {
      width: 48px;
      display: block;
      flex: 0;
      flex-basis: 24px;
      font-weight: bold;
    }

    :host paper-tab.iron-selected {
      background-color: #95BCF2;
      font-weight: bold;
    }

    :host paper-tab:hover {
      background-color: #ccc;
    }

    :host paper-tab[disabled] {
      color: #888;
    }

  </style>

  <template>
    <paper-tabs id="tabs" attr-for-selected="data-page" selected="[[ _selectIndex ]]" selectable=".selectable-page" activate-event="" no-bar noink>
      <paper-tab id="first" on-click="_first" disabled$="[[ _prevDisabled(page) ]]">
        First
      </paper-tab>
      <paper-tab id="prev" on-click="_prev" disabled$="[[ _prevDisabled(page) ]]">
        <iron-icon icon="chevron-left"></iron-icon>
      </paper-tab>

      <template is="dom-repeat" items="[[ _repeatItems ]]">
        <paper-tab data-page$="[[ item ]]" class="selectable-page" on-click="_pageNumberClicked">
          <span>[[ item ]]</span>
        </paper-tab>
      </template>

      <paper-tab id="next" on-click="_next" disabled$="[[ _nextDisabled(page, total) ]]">
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-tab>
      <paper-tab id="last" on-click="_last" disabled$="[[ _nextDisabled(page, total) ]]">
        Last
      </paper-tab>
    </paper-tabs>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-pagination',

    properties: {

      /**
       * Fired when page changes. Event detail is the new page number
       *
       * @event page-change
       */

      /*
      * The current page
      */
      page: {
        type: Number,
        value: 1,
        observer: '_pageChanged'
      },

      /*
      * Max number of pages
      */
      total: {
        type: Number,
        value: 100
      },

      /*
      * How many page options to display at once. For best results, use an odd number
      */
      visible: {
        type: Number,
        value: 5
      },

      /*
      * Holds the tab index to select
      */
      _selectIndex: {
        type: Number,
        computed: '_computeSelectIndex(page, visible, total)'
      },

      /*
      * Holds an array to dom-repeat over and build the page selection
      */
      _repeatItems: {
        type: Array,
        computed: '_computeRepeatItems(page, visible, total)'
      }

    },

    observers: [
      '_updateWidth(visible, total)'
    ],

    ready: function(){
      //Hack to get around paper-tabs not selecting the proper dom-repeated element initially
      this.async(function(){
        var pages = this.$.tabs.querySelectorAll('.selectable-page');
        this.toggleClass('iron-selected', true, pages[0]);
      }, 100);

    },

    /*
    * This will shrink-wrap the container around the pages
    */
    _updateWidth: function(visible, total){
      var pages = visible;
      if(total < visible){
        pages = total;
      }
      this.$.tabs.querySelector('#tabsContent').style.width = (48 * (pages + 4)) + 'px';
    },

    /*
    * Creates the array to dom-repeat over
    */
    _computeRepeatItems: function(page, visible, total){
      var items = [];
      //find the first page option to display
      var min = page - Math.floor(visible/2);
      if(page > total - Math.ceil(visible/2)){
        min = total - visible + 1;
      }
      if(min <= 0){
        min = 1;
      }
      //go through and add the page options to the array
      for(var i = min; i < min + visible; i++){
        items.push(i);
        if(i == total){
          break;
        }
      }
      console.log(items);
      return items;
    },

    /*
    * Calculates which tab should be selected
    */
    _computeSelectIndex: function(page, visible, total){
      if(page < Math.ceil(visible/2)){
        return page;
      } else if(page > total - Math.ceil(visible/2)){
        return visible - (total - page);
      } else {
        return Math.ceil(visible/2);
      }
    },

    /*
    * Goes to first page
    */
    _first: function(){
      this.page = 1;
    },

    /*
    * Goes to last page
    */
    _last: function(){
      this.page = this.total;
    },

    /*
    * Goes to next page
    */
    _next: function(){
      this.page++;
    },

    /*
    * Determines when to disable paging forward
    */
    _nextDisabled: function(page, total){
      return (page >= total)
    },

    /*
    * Goes to previous page
    */
    _prev: function(){
      this.page--;
    },

    /*
    * Determines when to disable paging back
    */
    _prevDisabled: function(page){
      return (page <= 1);
    },

    /*
    * Handles clicking on the page numbers
    */
    _pageNumberClicked: function(e){
      this.page = parseInt(e.currentTarget.getAttribute('data-page'));
    },

    /*
    * Handles page changing
    */
    _pageChanged: function(newVal, oldVal){
      this.fire('page-change', newVal);
    }

    
  });

</script>
