<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-header-panel/paper-header-panel.html">

<!--
The footer for Stanley Gibbons pages

Example:

    <sg-footer></sg-footer>

@group sg-elements
@element sg-footer
@demo demo/index.html
-->
<dom-module id="sg-footer">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
      bottom: 0;
      width: 100%;
      height: 60px;
      padding: 15px;
      background-color: var(--sg-footer-background-color, #343434);
    }
  </style>

  <template>
    <div>
    footer content
    </div>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-footer',

    properties: {

      /**
       * URL for the Stanley Gibbons logo
       */
      logo: {
        type: String,
        value: 'https://www.stanleygibbons.com/images/NormalLogo.png'
      },

      /**
      * Flag for whether to show the Your Account section or not
      */
      hasAccount: {
        type: Boolean,
        value: false
      },

      /*
      * Flag to show the Your Store section
      */
      hasStore: {
        type: Boolean,
        value: false
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    }
  });

</script>
