<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="error-image.html">

<!--
Stanley Gibbons product image. Automatically fits and centers in container and will replace broken images

Example:

    <sg-product-img></sg-product-img>

@group sg-elements
@element sg-product-img
@demo demo/index.html
-->
<dom-module id="sg-product-img">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
      background-color: #C7C7C7;
    }

    :host iron-image {
      width: 100%;
      height: 100%;
    }

  </style>

  <template>
    <iron-image id="img" src="[[ src ]]" sizing="contain">
    </iron-image>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-product-img',

    properties: {

      /**
       * This event signals that there was an error loading the image
       *
       * @event image-error
       */

       /**
       * This event signals that the image has loaded successfully
       *
       * @event image-loaded
       */


      /*
      * Img src
      */
      src: {
        type: String,
        observer: '_srcChanged'
      },

      /*
      * Holds the base64 error image file
      */ 
      _errorImage: {
        type: String,
        value: ErrorImage,
        readOnly: true
      },

      /*
      * Holds the element that we use to load the src
      */
      _img: {
        type: Object,
        value: function(){
          return new Image();
        }
      }

    },

    /*
    * Called when the image fails to load. Replaces with error image
    */
    _handleError: function(){
      //change src to img not found image
      this.src = this._errorImage;

      //announce error
      this.fire('image-error');

      //prevent infinite errors
      this._img.onerror = function(){};
    },

    /*
    * Checks if image src is valid when it changes
    */
    _srcChanged: function(newValue, oldValue){
      var self = this;

      //if img src is not found, handle the error
      this._img.onerror = function(){
        self._handleError();
      };

      //fire off event for load success
      this._img.onload = function(){
        self.fire('image-loaded');
      };

      //set the new src
      this._img.src = newValue;
    }
    
  });

</script>
