<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../sg-header/sg-header.html">
<link rel="import" href="../sg-footer/sg-footer.html">

<!--
Wrapper for page content, automatically adds a Stanley Gibbons header and footer

Example:

    <sg-app></sg-app>

@group sg-elements
@element sg-app
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sg-app">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
      height: 100%;
    }
  </style>

  <template>
    <sg-header id="header" marketplace-host="[[ marketplaceHost ]]">
      <div>
        <content>
        </content>
        <sg-footer>
        </sg-footer>
      </div>
    </sg-header>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-app',

    properties: {
      /*
      * Marketplace base URL
      */
      marketplaceHost: {
        type: String,
        value: 'https://www.stanleygibbons.com'
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /*
    * Scrolls to the top of the main content area
    */
    scrollToTop: function(){
      this.$.header.scrollToTop();
    },

    /*
    * Personalizes the app for the given user
    *
    * TODO: should eventually take a user object and flag things based on that
    */
    login: function(){
      this.$.header.hasAccount = true;
      this.$.header.hasStore = true;
    },

    /*
    * Removes any personalization from the app
    */
    logout: function(){
      this.$.header.hasAccount = false;
      this.$.header.hasStore = false;
    }
  });

</script>
