<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">

<!--
Stanley Gibbons modal

Example:

    <sg-modal></sg-modal>

@group sg-elements
@element sg-modal
@demo demo/index.html
-->
<dom-module id="sg-modal">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
  </style>

  <template>
    <paper-dialog with-backdrop>
      <content>
      </content>
    </paper-dialog>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-modal',

    properties: {

    },

    // Element Lifecycle

    ready: function() {
      //keep dropzone from bootstrapping itself when it sees the dropzone class
      // Dropzone.autoDiscover = false;
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /**
    * Wrapper for opening the child paper-dialog
    */
    open: function(){
      var dialog = this.$$('paper-dialog');
      dialog.open();
      dialog.setAttribute('aria-modal', true);
    }

  });

</script>
