<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-button/paper-button.html">

<!--
Stanley Gibbons button

Example:

    <sg-button></sg-button>

@group sg-elements
@element sg-button
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sg-button">

  <style>
    :host {
      display: inline-block;
      box-sizing: border-box;
    }

    :host paper-button {
      background-color: var(--sg-button-background-color, #2B78E4);
      color: var(--sg-button-text-color, #F9FAFD);
    }

    :host paper-button[disabled] {
      background-color: grey!important;
    }

    :host[disabled] {
      pointer-events: none;
    }

  </style>

  <template>
    <paper-button disabled$="{{ disabled }}">
      <content>
      </content>
    </paper-button>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-button',

    properties: {
      //shortcut for disabling button
      disabled: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    }
  });

</script>
