<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>sg-wizard Demo</title>
    <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../sg-app/sg-app.html">
    <link rel="import" href="../../sg-container/sg-container.html">
    <link rel="import" href="../../sg-button/sg-button.html">
    <link rel="import" href="../../../paper-button/paper-button.html">
    <link rel="import" href="../../../paper-tabs/paper-tab.html">
    <link rel="import" href="../sg-wizard.html">
    <style>
      .sg-red-background {
          background-color: #8E2430;
      }

      sg-container {
        margin: 15px;
      }
    </style>
  </head>

  <body class="fullbleed layout vertical" unresolved>
    <sg-app>
      <sg-container>
        <p>An example of <code>&lt;sg-wizard&gt;</code>:</p>

        <template is="dom-bind" id="wizard">

          <sg-wizard attr-for-selected="data-route" selected="{{ route }}">
            <paper-tab data-route="0">
                Upload CSV
            </paper-tab>
            <paper-tab data-route="1">
                Field Mapping
            </paper-tab>
            <paper-tab data-route="2">
                Add Images
            </paper-tab>
            <paper-tab data-route="3">
                Import Progress
            </paper-tab>
          </sg-wizard>

          <sg-button id="prev" disabled="{{ prevDisabled }}">
            Prev
          </sg-button>

          <sg-button id="next" disabled="{{ nextDisabled }}">
            Next
          </sg-button>

        </template>

      </sg-container>
    </sg-app>

    <script>
      document.addEventListener('WebComponentsReady', function() {
        var app = document.querySelector('#wizard');
        app.route = 0;
        app.prevDisabled = true;
        app.nextDisabled = false;

        var prev = document.querySelector('#prev');
        var next = document.querySelector('#next');

        prev.addEventListener('click', function(){
          app.route--;
          if(app.route == 0){
            app.prevDisabled = true;
          } else {
            app.nextDisabled = false;
          }
        });

        next.addEventListener('click', function(){
          app.route++;
          if(app.route == 3){
            app.nextDisabled = true;
          } else {
            app.prevDisabled = false;
          }
        });
      });
    </script>

  </body>
</html>
