<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">

<!--
Element for input errors. Designed to hook into sg-input-container and ErrorBehavior

Example:

    <sg-input-error></sg-input-error>

@group sg-elements
@element sg-input-error
@demo demo/index.html
-->
<dom-module id="sg-input-error">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host {
      margin-bottom: 10px;
      color: #9B1919;
    }

  </style>

  <template>
    <div id="error-container" hidden$="{{ _hidden }}">
      <span>{{ errorMessage }}</span>
    </div>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-input-error',

    properties: {

      /*
      * Message to display when there is an error
      */
      errorMessage: {
        type: String,
        value: 'Error'
      },

      /*
      * Flag for hiding the element
      */
      _hidden: {
        type: Boolean,
        value: true
      }

    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

    /*
    * Shows the error
    */
    show: function(){
      this._hidden = false;
    },

    /*
    * Hides the error
    */
    hide: function(){
      this._hidden = true;
    }

  });

</script>
