<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-menu/paper-menu.html">

<!--
Stanley Gibbons button

Example:

    <sg-dropdown></sg-dropdown>

@group sg-elements
@element sg-dropdown
@demo demo/index.html
-->
<dom-module id="sg-dropdown">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    /* begin compact styling */
    :host paper-dropdown-menu[compact] {
      height: 37px;
    }

    :host /deep/ paper-dropdown-menu[compact] paper-menu-button {
      height: 37px;
      display: block;
      float: left;
      bottom: 5px;
    }

    :host /deep/ paper-dropdown-menu[compact] paper-menu-button paper-input {
      height: 47px;
      margin-top: -10px;
    }

    :host /deep/ paper-dropdown-menu[compact] paper-input-container {
      height: 37px;
    }

    :host /deep/ paper-dropdown-menu[compact] paper-input-container .input-content {
      bottom: 10px;
    }

    :host /deep/ paper-dropdown-menu[compact] paper-input-container .underline {
      bottom: 10px;
    }
    /* end compact styling */

    :host /deep/ iron-dropdown {
      width: var(--sg-dropdown-menu-width, 140px);
    }

  </style>

  <template>
    <paper-dropdown-menu compact$="[[ compact ]]" label="[[ label ]]">
      <paper-menu class="dropdown-content" selected="{{ selected }}">
        <content>
        </content>
      </paper-menu>
    </paper-dropdown-menu>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-dropdown',

    properties: {
      /*
      * Styles the dropdown to have less height
      * Useful for fitting into form rows and tables
      */
      compact: {
        type: Boolean,
        value: false
      },

      /*
      * Exposes paper-dropdown-menu label property
      */
      label: {
        type: String
      },

      /*
      * Exposes the selected property for the paper-menu
      */
      selected: {
        type: String,
        notify: true
      }
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    }
  });

</script>
