<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<!--<link rel="import" href="sg-tr.html">-->

<!--
Stanley Gibbons table

Example:

    <sg-table></sg-table>

@group sg-elements
@element sg-table
@demo demo/index.html
-->
<dom-module id="sg-table">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host[border-collapse] {
      border: none!important;
    }

    /*:host[border-collapse] /deep/ sg-tr:nth-child(odd) {*/
      /*border: var(--sg-table-border-style, solid) var(--sg-table-border-color, black) !important;*/
      /*border-width: var(--sg-table-border-width, 1px) 0 var(--sg-table-border-width, 1px) 0!important;*/
    /*}*/

    :host[border-collapse] /deep/ sg-td {
      border-left: var(--sg-table-border-style, solid) var(--sg-table-border-color, black) !important;
      border-width: 0 0 0 var(--sg-table-border-width, 1px) !important;
    }

    :host[border-collapse] /deep/ sg-tr:last-of-type {
      border-bottom: var(--sg-table-border-style, solid) var(--sg-table-border-color, black) !important;
      border-width: var(--sg-table-border-width, 1px) 0 var(--sg-table-border-width, 1px) 0 !important;
    }

    :host[border-collapse] /deep/ sg-tr {
      border-top: var(--sg-table-border-style, solid) var(--sg-table-border-color, black) !important;
      border-width: var(--sg-table-border-width, 1px) 0 0 0 !important;
    }

    :host[border-collapse] /deep/ sg-td:last-of-type {
      border-right: var(--sg-table-border-style, solid) var(--sg-table-border-color, black) !important;
      border-width: 0 var(--sg-table-border-width, 1px) 0 var(--sg-table-border-width, 1px) !important;
    }


  </style>

  <template>
      <content>

      </content>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-table',

    properties: {}
    
  });

</script>
