<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-item/paper-item.html">
<!--<link rel="import" href="sg-tbody.html">-->

<!--
Stanley Gibbons table

Example:

    <sg-table></sg-table>

@group sg-elements
@element sg-table
@demo demo/index.html
-->
<dom-module id="sg-tr">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host paper-item {
      min-height: 0;
      padding: 0;
    }

  </style>

  <template>
    <paper-item>
      <content>
      </content>
    </paper-item>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'sg-tr',

    properties: {}
    
  });

</script>
