<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../iron-form/iron-form.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-spinner/paper-spinner.html">
<link rel="import" href="../ajax-behavior/ajax-behavior.html">
<link rel="import" href="../../paper-toast/paper-toast.html">
<link rel="import" href="./sg-auth-behavior.html">
<link rel="import" href="../sg-input-container/sg-input-container.html">
<link rel="import" href="../sg-input-error/sg-input-error.html">
<!--
An element which provides access to the Stanley Gibbons JWT cookie

Example:

    <sg-auth></sg-auth>

@group Seed Elements
@element sg-auth
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sg-auth">
    <template>
        <style is="custom-style">
            paper-dialog {
                min-height: 100px;
            }
        </style>
        <paper-dialog id="login_modal" modal>
            <form is="iron-form" method="post" action="{{url}}" id="loginform" hidden$="{{hideForm}}">
                <p>Please log in to the marketplace.</p>
                <sg-input-container id="login_form_container">
                    <sg-input-error></sg-input-error>
                    <paper-input id="name" label="Username or email" value="{{username}}"></paper-input>
                    <paper-input id="pass" label="Password" type="password" value="{{password}}"></paper-input>
                </sg-input-container>
                <div class="buttons">
                    <button type="submit" hidden="true">Log In</button>
                    <paper-button raised type="submit" id="login">Log In</paper-button>
                </div>
            </form>
            <div hidden$="{{hideSpinner}}">
                <paper-spinner active alt="Logging in"></paper-spinner>
                Logging you in
            </div>
        </paper-dialog>
        <paper-toast id="successToast" text="You are now signed in"></paper-toast>
    </template>
</dom-module>

<script>

    Polymer({

        is: 'sg-auth',
        properties: {
            // the URL to post to for auth
            url: {
                type: String,
                value: ''
            },
            auto: {
                type: Boolean,
                value: false
            },
            headers: {
                type: Object,
                value: {}
            }
        },
        listeners: {
            'loginform.submit': '_submitForm',
            'login.click': '_submitForm',
            'auth-cleared': '_onAuthCleared'
        },
        behaviors: [AjaxBehavior, SgAuthBehavior],

        _submitForm: function(e) {
            e.preventDefault();
            this.authenticate(this.username, this.password);
            return false;
        },

        ready: function() {
            this.hideForm = false;
            this.hideSpinner = true;
            this._callbacks = [];
        },
        attached: function() {
            // automatically check and open login dialog
            if (this.auto) {
                this.init();
            }
        },

        /*
        * Kicks off checking for JWT. Displays modal is none found
        */
        init: function(){
            var jwt = this.jwt();
            if (!jwt) {
                this.$.login_modal.open();
            } else {
                this.fire('sg-auth-success', jwt);
            }
        },

        onAuthenticated: function(callback) {
            // specify a one-time callback to fire the next time
            // this element is 'authenticated' (or immediately if
            // it is currently authenticated)
            if (this.jwt()) {
                callback();
                return;
            }
            this._callbacks.push(callback);
        },

        /**
         * Authenticates username and password to get a JWT
         *
         */
        authenticate: function(username, password) {
            this.hideForm = true;
            this.hideSpinner = false;
            var self = this;
            var failed = function(request, response) {
                self.fire('sg-auth-fail', request);
                self.fire('sg-input-error', {message: response && response.message ? response.message : 'An unknown error has occurred'}, {node: self.$.login_form_container});
                self.hideForm = false;
                self.hideSpinner = true;
            };
            var result = this.fullRequest({
                url: this.url,
                method: 'POST',
                body: JSON.stringify({_username: username, _password: password}),
                headers: {
                    'Content-Type': 'application/json'
                },
                handleAs: 'json'
            }, function(request, response, e) {
                if (!response || !response.JWT) {
                    return failed(request, response);
                }
                self.$.login_modal.close();
                self.hideForm = false;
                self.hideSpinner = true;
                var jwt = response.JWT;
                self.createCookie('JWT', encodeURIComponent(JSON.stringify(jwt)));
                // drain the callback list
                while (typeof (callback = self._callbacks.shift()) !== 'undefined') {
                    try {callback();} catch (e) {console.error(e);}
                }
                self.fire('sg-auth-success', jwt);
                document.getElementById('successToast').show();
            }, function(request, response, e) {
                failed(request, response);
            });
        },
        /**
         * When the auth token gets cleared, open the dialog.
         * @private
         */
        _onAuthCleared: function() {
            this.$.login_modal.open();
        }

    });

</script>
