<link rel="import" href="../ajax-behavior/ajax-behavior.html">
<link rel="import" href="../sg-auth/sg-auth-behavior.html">


<script>

    /*
     * Behavior that supports jwt retrieval
     *
     * @polymerBehavior SgAuthBehavior
     */

    SgAjaxBehaviorImpl = {

        /**
         * Adds authorization header to request
         * and handles response as JSON by default
         * @param options - request options
         *  
         * @param successCallback (optional) - function, if provided will be called on ajax success with request, response JSON and element params
         * @param errorCallback (optional) - function, if provided will be called on ajax error with request, response JSON and element params
         */
        sgRequest: function(options) {
            if (!options.headers) {
                arguments[0].headers = {};
            }
            if (!options.handleAs) {
                arguments[0].handleAs = 'json';
            }
            arguments[0].headers['Authorization'] = 'Bearer ' + this.jwt().access_token;
            this.fullRequest.apply(this||window,arguments);
        }
    };

    /** @polymerBehavior */
    SgAjaxBehavior = [AjaxBehavior, SgAuthBehavior, SgAjaxBehaviorImpl];

</script>