<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="./sg-ajax-behavior.html">
<!--
An element which provides access to the Stanley Gibbons JWT cookie

Example:

    <sg-ajax></sg-ajax>

@group Seed Elements
@element sg-ajax
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sg-ajax">
    <template></template>
</dom-module>

<script>

    Polymer({

        is: 'sg-ajax',
        behaviors: [SgAjaxBehavior]
    });

</script>
