<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../../web-component-tester/browser.js"></script>
    <script src="../../../iron-test-helpers/mock-interactions.js"></script>
    <script src="../../../test-fixture/test-fixture-mocha.js"></script>

    <!-- Step 1: import the element to test -->
    <link rel="import" href="../sg-wizard.html">
    <link rel="import" href="../../sg-button/sg-button.html">
    <link rel="import" href="../../../test-fixture/test-fixture.html">
  </head>
  <body>

    <!-- You can use the document as a place to set up your fixtures. -->
    <test-fixture id="wizard">
      <template>
        <sg-wizard attr-for-selected="data-route" selected="{{ route }}">
            <paper-tab data-route="0">
                Upload CSV
            </paper-tab>
            <paper-tab data-route="1">
                Field Mapping
            </paper-tab>
            <paper-tab data-route="2">
                Add Images
            </paper-tab>
            <paper-tab data-route="3">
                Import Progress
            </paper-tab>
          </sg-wizard>
      </template>
    </test-fixture>

    <script>
      suite('<sg-wizard>', function() {
        var wizard;

        setup(function(){
          wizard = fixture('wizard');
        });

      });
    </script>

  </body>
</html>
