<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../auth-intercept-behavior.html">

<dom-module id="test-auth-intercept">
  <template>
    <content>
    </content>
  </template>

</dom-module>

<script>
(function() {
  Polymer({
    is: 'test-auth-intercept',
    behaviors: [AuthInterceptBehavior]
  });
})();
</script>

