<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../file-upload-behavior.html">

<dom-module id="test-file-upload">
  <template>
    <div class="dropzone">
    </div>
    <content>
    </content>
  </template>

</dom-module>

<script>
(function() {
  Polymer({
    is: 'test-file-upload',
    behaviors: [FileUploadBehavior]
  });
})();
</script>

